@use "../../styles/utils.scss" as *;

.topTracksSection {
  @include sectionHorizontalMargin();
  @include sectionVerticalMargin();

  .title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}