@use "../../styles/utils.scss" as *;

.header {
  padding: 20px 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  
  // @include sectionHorizontalMargin();
}